/firmware/build/
/pcb/pico-synth-backups/

.gdb_history
CMakeLists.txt.user

# KiCad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*.dsn
*.ses
*.sch-bak
*-cache.lib
fp-info-cache

# Gerber
*.drl
*.gbl
*.gbo
*.gbp
*.gbr
*.gbs
*.gm1
*.gtl
*.gto
*.gtp
*.gts
